img {
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 200px;
    height:300px;
     
  }
 
  

body {
   
    background-color: rgb(91, 88, 131);
}

h1 span a {
    color:black;
    text-decoration: none ;
   
    
}
h1 {
    text-align: center;
    color: teal

}
nav ul li {
    display: inline;
    margin : 10px;
   
}

ul {
    list-style-type:none;
    
  }

  li a {
    display: inline-block;

    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }

  li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  .about{ background-color: cornsilk;
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    }
       
    .education{ background-color: cornsilk;
        font-size: xx-large;
        font-family: 'Times New Roman', Times, serif;
        }
        .experince{ background-color: cornsilk;
            font-size: larger;
            font-family: 'Times New Roman', Times, serif;
            }
        
            h3{
                text-align: center;
              }
                          ol  {
                            display: inline-block;
              margin-left : 45%;  
                 }       
              
                 h2{
                   text-align: center;
                 }
               h2 span 
               {
                 background-color: rgb(214, 208, 208);
               }